<p style="color: green"><%= notice %></p>

<h1>Students</h1>

<table class="table table-sm">
  <thead>
  <tr>
    <th><strong>Indeks</strong></th>
    <th><strong>Imię nazwisko:</strong></th>
    <th><strong>Grupa:</strong></th>
    <th></th>
    <th></th>
  </tr>
  </thead>
  <tbody>
    <div id="students">
      <% @students.each do |student| %>
        <%= render student %>
        <% end %>
    </div>
  </tbody>
</table>
<div>

  <%= render "form", student: Student.new %>
</div>

