<div id="<%= dom_id group %>">
  <p>
    <strong>Nazwa:</strong>
    <%= group.nazwa %>
  </p>

  <p>
    <strong>Studenci zapisani do grupy:</strong>
    <% group.students.each do |s| %>
      <%= s.i_n %><br>
    <% end %>
  </p>

  <p>
    <strong>Przedmioty:</strong>
    <% group.courses.each do |c| %>
      <%= c.nazwa %><br>
    <% end %>
  </p>

</div>
