<div id="<%= dom_id course %>">
  <p>
    <strong>Nazwa:</strong>
    <%= course.nazwa %>
  </p>

  <p>
    <strong>Zapisane grupy:</strong>
    <% course.groups.each do |g| %>
      <%= g.nazwa %>
    <% end %>
  </p>

</div>
