<nav class="navbar bg-body-tertiary mx-auto" style="background-color: #e3f2fd;">
  <div class="btn-group" role="group">
    <%= link_to "Courses", courses_path, class: "btn btn-sm btn-info"%>
    <%= link_to "Groups", groups_path, class: "btn btn-sm btn-danger"%>
    <%= link_to "Students", students_path, class: "btn btn-sm btn-warning"%>
  </div>
</nav>